<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Name of the list : </h3>
    </div>
    <div class="col-lg-8">
      <input type="text" class="name-of-list" [(ngModel)]="wishList.Name"/>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <button class="button" (click)="submit()">Create my list</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6" *ngFor="let wishList of wishLists">
    <div class="wishlist">
      <button class="del-button" (click)="delete(wishList.Id)">X</button>
      <h2>{{wishList.Name}}</h2>
      <ul>
        <li class="price">price</li>
        <li *ngFor="let gift of wishList.Gifts, let i = index">
          <img src="{{gift.ImageUrl}}"/>
          <a href="#" class="name-link">{{i + 1}}. {{gift.Name}}</a>
          <h4>{{gift.Price}} лв</h4>
        </li>
        <li class="text-above-input" *ngIf="wishList.newGift && wishList.Gifts.length < 10">
          <p>item name</p>
          <p>picture (url)</p>
          <p>price (лв)</p>
        </li>
        <li class="input-boxes" *ngIf="wishList.newGift && wishList.Gifts.length < 10">
          <input type="text" maxlength="21"[(ngModel)]="wishList.newGift.Name">
          <input type="text" [(ngModel)]="wishList.newGift.ImageUrl">
          <input type="text" maxlength="5"[(ngModel)]="wishList.newGift.Price">
          <button class="btn-add-gift" (click)="submitGift(wishList)">ADD GIFT</button>
        </li>
      </ul>
    </div>
  </div>
</div>
