<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h3>Welcome to My Wishlist !</h3>
      <p>Are you tired of your friends and family buying you useless gifts? Forget about all that
        and check out our website where with just one click  you can   make your list, choose your
        gift, and let your friends know how to surprise you!</p>
    </div>
    <div class="col-lg-3">
      <img src="../../../../../assets/images/Santas-present.png">
    </div>
  </div>
  <a routerLink="/gifts-lists/add-gifts-list" class="add-list">ADD YOUR LIST NOW</a>
</div>
