<div class="row">
  <a routerLink="/gifts-lists/add-gifts-list" class="btn btn-success">Add List</a>
</div>
<div class="row">
  <div class="col-lg-3 border-div">
    <div class="row">
      <div class="col-lg-12 list-title">
        <h4><strong>Title</strong></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 list-owner">
         <h6>from who?</h6>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-1">
        <div>1.</div>
      </div>
      <div class="col-lg-11">
        Подарък
      </div>
    </div>
  </div>
</div>

