<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <a routerLink="/gifts-lists/add-gifts-list" class="add-list">
    <i class="fa fa-plus my-float"></i>
  </a>


<div class="wishlist">
  <h2>roli737's wishlist #1</h2>
  <ul>
    <li class="price">price</li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">1. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://www.what-dog.net/Images/faces2/scroll001.jpg"/>
      <a href="http://google.bg" class="name-link">2. Dog</a>
      <h4> 200 лв.</h4>
    </li>
    <li>
      <img src="https://target.scene7.com/is/image/Target/17268904?wid=520&hei=520&fmt=pjpeg"/>
      <a href="http://google.bg" class="name-link">3. Polaroid ZIP Mobile Printer </a>
      <h4> 270 лв.</h4>
    </li>
    <li>
      <img src="https://www.evetech.co.za/repository/ProductImages/razer-kraken-pro-v2-gaming-headset-green-1000px-v1-0003.jpg"/>
      <a href="http://google.bg" class="name-link">4. Razer Headphones</a>
      <h4> 500 лв.</h4>
    </li>
    <li>
      <img src="https://rukminim1.flixcart.com/image/704/704/gamingconsole/f/q/q/playstation-4-ps4-pro-1-sony-na-original-imaer7uyef5xpc48.jpeg?q=70"/>
      <a href="http://google.bg" class="name-link">5. Ps 4</a>
      <h4> 1200 лв.</h4>
    </li>
    <li>
      <img src="https://www.logitechg.com/assets/52530/35/g910-orion-spark-rgb-mechanical-gaming-keyboard.png"/>
      <a href="http://google.bg" class="name-link">6. Logitech gaming keyboard</a>
      <h4> 180 лв.</h4>
    </li>
    <li>
      <img src="https://www.linksys.com/resources/img/category/fpo/category_wireless_banner.jpg"/>
      <a href="http://google.bg" class="name-link">7. WI-Fi router</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">8. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">9. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">10. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
  </ul>
</div>
<div class="wishlist">
  <h2>others wishlist #1</h2>
  <ul>
    <li class="price">price</li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">1. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://www.what-dog.net/Images/faces2/scroll001.jpg"/>
      <a href="http://google.bg" class="name-link">2. Dog</a>
      <h4> 200 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">3. Polaroid ZIP Mobile Printer </a>
      <h4> 270 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">4. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">5. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">6. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">7. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">8. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">9. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
    <li>
      <img src="https://icdn2.digitaltrends.com/image/apple-iphone-x-12-1500x1000.jpg"/>
      <a href="http://google.bg" class="name-link">10. Iphone X</a>
      <h4> 1000 лв.</h4>
    </li>
  </ul>
</div>
