<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <a routerLink="/gifts-lists/add-gifts-list" class="add-list">
    <i class="fa fa-plus my-float"></i>
  </a>

<div class="row">
  <div class="col-lg-6" *ngFor="let wishList of wishLists">
    <div class="wishlist">
      <button class = "del-button"*ngIf="cookieService.get('isAdmin')"
              (click)="delete(wishList.Id)">X
      </button>
      <h2>{{wishList.Name}}</h2>
      <ul>
        <li class="price">price</li>
        <li *ngFor="let gift of wishList.Gifts, let i = index">
          <img src="{{gift.ImageUrl}}"/>
          <a href="http://google.bg" class="name-link">{{i + 1}}. {{gift.Name}}</a>
          <h4>{{gift.Price}} лв</h4>
        </li>
      </ul>
    </div>
  </div>
</div>
